<% unless @has_error == true %>
  <section class="center card">
    <% if @products.size > 1 %>
      <h3 style="font-size: 20px; text-align: center"><b>¿Cómo calificarías los productos?</b></h3>
        <% @products.each do |product| %>
          <tr>
            <td><img style="width: 20%;" src="<%= product[:image] %>"></td>
            <td><%= product[:name] %></td>
          </tr>
        <% end %>
      </table>
    <% else %>
      <img src="<%= @products.first[:image] %>" alt="<%= @products.first[:name]%>">
      <h3 style="font-size: 20px; text-align: center"><b>¿Cómo calificarías el producto?</b></h3>
      <p style="font-size: 16px; text-align: center"><%= @products.first[:name] %></p>
    <% end %>
    <a href="https://beta.zofrishop.cl/orders/<%= @order.number_ticket %>/reviews" style="color: white; text-decoration: none;">
      <button>
        Dar mi opinión
      </button>
    </a>
  </section>
<% end %>

<% if @has_error == true %>
  <section class="center card">
    <h2><b>Error al enviar review</b></h2>
    <p>Mensaje <%= @message %></p>
  </section>
<% end %>