<h1><%= @subject %></h1>
<div>
  <ul>
    <li>nombre: <%= @user.name %></li>
    <li>apellido: <%= @user.lastname %></li>
    <li>email: <%= @user.email %></li>
    <li>url: <%= "#{ENV['BASE_PATH']}/password/change?token=#{@user.reset_password_token}" %></li>
  </ul>
</div>
