<section class="center card">
  <div style="margin: 0 auto; text-align: center;">
    <%= image_tag attachments['zofrishop.png'].url, style: "width: 60%;", align: "center" %> 
  </div>

  <br/>
  
  <h2>Hola <%= @user.name %> <%= @user.lastname %>,</h2>

  <span style="display: block; width: 30%;">
    <hr style="border-bottom: 1px solid #FF2C5F;" />
  </span>

  <p>
    Hemos recibido una solicitud para restablecer tu contraseña. 
    Para realizarlo, utiliza el siguiente botón:
  </p>

  <a href=<%= "#{ENV['BASE_PATH']}/password/change?token=#{@user.reset_password_token}" %>>
    <button>
      Restablecer tu contraseña
    </button>
  </a>

  <hr />

  <p>o puedes copiar y pegar este enlace en tu navegador</p>

  <span style="display: block; padding: 10px; background-color: #EFF1F4;">
    <%= "#{ENV['BASE_PATH']}/password/change?token=#{@user.reset_password_token}" %>
  </span>

  <p>Recuerda que este link es temporal y expirará luego de 24 horas.</p>

  <p>Si no has solicitado el cambio, o sólo fue un error, sólo debes ignorar este mensaje.</p>

  <p>Saludos,</p>
  <p>El equipo de Zofrishop</p>
</section>
