<h1 class="center" style="text-align: center">
  Gracias por comprar en Zofri!!
</h1>

<section class="center card">
  <h2><b>Próximos pasos</b></h2>
  <p>
    ¡Ya estamos preparando tu pedido! Tu número de es
    <b><%= @meta_data[:number_ticket] %>.</b> <br />
    Puedes ir revisando el estado de tu pedido <a href="#">aquí</a>, o puedes
    iniciar sesión y guardarla en tu perfil para que la puedas dar seguimiento
    más fácilmente (recomendado).
  </p>
  <a href="#" style="color: white; text-decoration: none;">
    <button>
      Ver mi orden
    </button>
  </a>
</section>

<section class="center card">
  <h2><b>Detalle de la compra</b></h2>
  <p>Pedido <%= @meta_data[:number_ticket] %></p>
  <table>
    <thead>
      <tr>
        <td>Producto</td>
        <td>Precio</td>
        <td>Cant</td>
        <td>Subtotal</td>
      </tr>
    </thead>
    <tbody>
      <% @meta_data[:products].each do |product| %>
      <tr>
        <td><%= product[:name] %></td>
        <td>$ <%= product[:price] %></td>
        <td style="color: #00a2c6; text-align: center">
          <%= product[:quantity] %>
        </td>
        <td>$ <%= product[:price]*product[:quantity] %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <hr />
  <table>
    <tbody>
      <tr style="border-bottom: 1px solid black; font-size: 1.25rem">
        <td>Total</td>
        <td style="text-align: right"><%= @meta_data[:total] %></td>
      </tr>
    </tbody>
  </table>
</section>