<h1 class="center" style="text-align: center">
  Has recibido una compra!
</h1>

<section class="center card">
  <h2><b>Próximos pasos</b></h2>
  <p>
    ¡Prepara el paquete y entrégalo al centro de acopio!<br />
    Tienes <b># hrs</b> para entregar el pedido <%= @meta_data[:number_ticket] %>.
  </p>
  <a href="#" style="color: white; text-decoration: none;">
    <button>
      Ver orden
    </button>
  </a>
</section>

<section class="center card">
  <h2><b>Detalle de la compra</b></h2>
  <p>Pedido <%= @meta_data[:number_ticket] %></p>
  <table>
    <thead>
      <tr>
        <td>Producto</td>
        <td>Precio</td>
        <td>Cant</td>
        <td>Subtotal</td>
      </tr>
    </thead>
    <tbody>
      <% @meta_data[:products].each do |product| %>
      <tr>
        <td>
          <span style="font-size: .7rem; font-weight: 200; color: #707070; display: block;"><%= @meta_data[:store_order_number] %></span>
          <%= product[:name] %>
          <span style="font-size: .7rem; font-weight: 200; color: #707070; display: block;"><%= @meta_data[:store_name] %></span>
        </td>
        <td style="color: #00a2c6; text-align: center">
          <%= product[:quantity] %>
        </td>
        <td>$ <%= product[:price]*product[:quantity] %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <hr />
  <table>
    <tbody>
      <tr style="border-bottom: 1px solid black; font-size: 1.25rem">
        <td>Total</td>
        <td style="text-align: right"><%= @meta_data[:total] %></td>
      </tr>
    </tbody>
  </table>
</section>

<section class="center card">
  <h4><b>Cliente</b></h4>
  <p>Nombre: <%= @meta_data[:user_data][:name] %> <%= @meta_data[:user_data][:last_name] %> </p>
</section>