<h1 class="center">
  ¡Has recibido una compra por ZofriShop! 🎉
</h1>

<section class="center card">
  <h2><b>Próximos pasos</b></h2>
  <p>
    ¡Prepara el paquete y entrégalo al centro de distribución! (módulo 5006)<br />
    Tienes <b>24 hrs</b> para entregar el pedido <%= @meta_data[:number_ticket] %>.
  </p>
  <a href="https://store-owner.zofrishop.cl/store_owners/stores/<%= @meta_data[:store_id] %>/orders/<%= @meta_data[:store_order_id] %>" style="color: white; text-decoration: none;">
    <button>
      Ver orden
    </button>
  </a>
</section>

<section class="center card">
  <h2><b>Detalle de la compra</b></h2>
  <p>Pedido <%= @meta_data[:number_ticket] %></p>
  <table>
    <thead>
      <tr>
        <td>Producto</td>
        <td>Precio</td>
        <td>Cant</td>
        <td>Subtotal</td>
      </tr>
    </thead>
    <tbody>
      <% @meta_data[:products].each do |product| %>
      <tr>
        <td><%= product[:name] %></td>
        <td><%= number_to_currency(product[:price], unit: "$", separator: ",", delimiter: ".", precision: 0, format: "%u%n") %></td>
        <td style="color: #00a2c6; text-align: center">
          <%= product[:quantity] %>
        </td>
        <td><%= number_to_currency((product[:price]*product[:quantity]), unit: "$", separator: ",", delimiter: ".", precision: 0, format: "%u%n") %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <hr />
  <table>
    <tbody>
      <tr style="border-bottom: 1px solid black; font-size: 1.25rem">
        <td>Total</td>
        <td style="text-align: right"><%= number_to_currency(@meta_data[:total], unit: "$", separator: ",", delimiter: ".", precision: 0, format: "%u%n") %></td>
      </tr>
    </tbody>
  </table>
</section>

<section class="center card">
  <h4><b>Cliente</b></h4>
  <p>Nombre: <%= @meta_data[:user_data][:name] %> <%= @meta_data[:user_data][:last_name] %> </p>
</section>